//
// Variables
$black-gradient: linear-gradient(180deg, #111010 0%, rgba(17, 16, 16, 0.81) 100%);
$transition: 0.3s ease-in;
$placeholder-color: #C2C2C2;
$bg-default: #F8F8F8;
$hover-shadow: 20px 20px 100px rgba(73, 73, 73, 0.15);
$icon-btn-shadow: 0px 4px 50px rgba(0, 56, 60, 0.05);
$light-primary: #FFF2F3;
$large-circle-shape-gradient: linear-gradient(32.54deg, rgba(252, 0, 18, 0.5) -28.01%, rgba(247, 108, 119, 0) 101.07%);
$small-circle-shape-gradient: linear-gradient(180deg, #FC0012 0%, rgba(252, 0, 18, 0) 100%);
$bg-color: #F6F6F6;
$accordion-header-active: #DCDCDC;
$btn-active-shadow: 0px 10px 40px rgba(252, 0, 18, 0.3);
$apps-bg: #FFEFF1;
$black-color: #000000;
$light-white: rgba(255,255,255,0.3);
$dark-placeholder: #323232;
$stroke-gradient: linear-gradient(to right, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
$banner-gradient: linear-gradient(180deg, #111010 0%, #3A3A3B 100%);
$rating-box-bg: #FFE3C5;
$star-color: #FF9729;
$primary-shadow: 0px 20px 50px rgba(252, 0, 18, 0.2);
$primary-light-shadow: 0px 10px 30px rgba(252, 0, 18, 0.2);
$icon-shadow: 0px 5px 10px rgba(139, 139, 139, 0.1);
$icon-shadow-lg: 0px 6px 20px rgba(0, 56, 60, 0.2);
$light-color: #E9E9E9;
$color-blue: #0086FF;
$box-hover-shadow: 15px 30px 70px rgba(0, 0, 0, 0.08);
$dark-box: #383838;
$light-bg: #F4F7FD;
// --------------------------------------------------

//Rent Home Variables
$rent-header-bg: #F5F8FC;
$black-light-gradient: linear-gradient(89.98deg, rgba(17, 16, 16, 0.7) -0.21%, rgba(17, 16, 16, 0.7) 100.06%);
$bg-icon: #5F5F5F;
$icon-bg-light-primary: #FFEEEF;
$para-text-2: #7A7A7A;
$item-shadow: 0px 10px 50px rgba(0, 44, 47, 0.1);

//Home 3 Variables
$progress-bg: #D9D9D9;

//Home4 Variables 
$h4-box-shadow: 0px 10px 30px rgba(131, 131, 131, 0.05);
$hero-gradient: linear-gradient(98.07deg, #111010 14.67%, rgba(17, 16, 16, 0.71) 44.06%, rgba(17, 16, 16, 0) 80.98%);


//Dealership 
$dark-light-gradient: linear-gradient(89.79deg, #151414 41.73%, rgba(0, 6, 39, 0) 99.79%);


//Moto Rent
$md-text-color: #7B7B7B;
$md-primary-color: #FE5915;
$md-secondary-color: #2A2929;
$md-yellow-light-color: #FFD7B4;
$md-yellow-light-color-2: #FCE6D3;
$badge-yellow-bg: #FCEFE5;
$md-black: #2C2C2E;
$md-black-gradient: linear-gradient(216.8deg, #111010 1.06%, rgba(17, 16, 16, 0.81) 52.14%);
$md-box-shadow: 12px 20px 60px rgba(0, 23, 104, 0.12);
$md-light-color: #EAEDF2; 
$md-icon-bg: #2F1E17;
$md-border-color: #F0F0F0;

//Electric Car
$el-black-color: #242430;
$el-primary-color: #5CAD2F;
$el-box-shadow: 12px 20px 60px rgba(0, 23, 104, 0.12);
$el-border-color: #E7E7E7;
$el-hover-shadow: 12px 20px 60px rgba(0, 23, 104, 0.05);
$el-orange: #FF992E;
$el-primary-light: #F4FFED;
$el-icon-bg: #26351C;

//Equipment Demo
$eq-primary-color: #FEB200;
$eq-input-bg: #F6F7F9;
$eq-box-shadow: 10px 20px 60px rgba(0, 23, 104, 0.08);
$eq-slide-shadow: 2px 20px 20px rgba(0, 23, 104, 0.08);
$eq-primary-gradient: linear-gradient(314.59deg, #FF992E -38.96%, rgba(255, 153, 46, 0) 90.67%);
$eq-border-color: #E2E2E2;
$eq-meta-color: #969696;
$eq-gray-bg: #838383;
$eq-deep-primary: #AE7A00;
$eq-black-gradient: linear-gradient(180deg, #111010 -67.31%, rgba(17, 16, 16, 0.81) 32.69%);


@import url('https://fonts.googleapis.com/css2?family=Sail&display=swap');

//bycycle home
$bc-gray: #606060;
$bc-placeholder: #F1F1F1;
$bc-border: #B4B4B4;
$bc-dark-linear: linear-gradient(101.16deg, #111010 3.01%, rgba(29, 29, 29, 0.81));
$bc-subtitle-font: 'Sail', cursive; 
$bc-gray-2: #767676;
$bc-background: #F1F7FE;

// Import Bootstrap functions to use inside variables values
//== Colors
//
// Gray and brand colors to use across the Theme.

// Grayscale
$white:                 #fff !default;
$gray-100:              #f8fafc !default;
$gray-200:              #f8f9fa !default;
$gray-300:              #e2e8f0 !default;
$gray-400:              #c0c0c5 !default;
$gray-500:              #94a3b8 !default;
$gray-600:              #575757 !default;
$gray-700:            	#071c4d !default;
$gray-800:              #0b163f !default;
$gray-900:              #010e2b !default;
$black:                 #0c0800 !default;

// Brand colors
$primary:               #FC0012 !default;
.color-primary {
        color: $primary !important;
}
$accent:                #077765 !default;
$secondary:             #111010 !default;
.color-secondary {
        color: $secondary !important;

}
$info:		            #50b5ff !default;
$success:               #5cc9a7 !default;
$warning:               #ffb116 !default;
$danger:                #f25767 !default;
$light:                 $white !default;
$dark:                  $gray-800 !default;
$green:                 #2ABB52;
$blue:                  #0084FE;

// Adding new color to default Bootstrap's $theme-colors map
$theme-colors: (
        'primary':    $primary,
        'accent':     $accent,
        "secondary":  $secondary,
        "success":    $success,
        "info":       $info,
        "warning":    $warning,
        "danger":     $danger,
        "light":      $light,
        "dark":       $dark
) !default;

// Faded colors map
$theme-faded-colors: (
        'primary':    rgba($primary, .09),
        'accent':     rgba($accent, .09),
        "success":    rgba($success, .09),
        "info":       rgba($info, .09),
        "warning":    rgba($warning, .09),
        "danger":     rgba($danger, .09),
        "light":      rgba($light, .09),
        "dark":       rgba($dark, .09)
) !default;

// Social brand colors
$facebook:      #3b5999;
$twitter:       #1da1f2;
$google:        #dd4b39;
$instagram:     #e4405f;
$pinterest:     #bd081c;
$youtube:       #cd201f;
$slack:         #3aaf85;
$dribbble:      #ea4c89;
$github:        #222222;
$dropbox:       #1E90FF;
$twitch:        #4B367C;
$paypal:        #ecb32c;
$behance:       #0057ff;
$reddit:        #E84422;

$brand-colors: ();
$brand-colors: map-merge((
        "facebook":     $facebook,
        "twitter":      $twitter,
        "google":       $google,
        "instagram":    $instagram,
        "pinterest":    $pinterest,
        "youtube":      $youtube,
        "slack":        $slack,
        "dribbble":     $dribbble,
        "dropbox":      $dropbox,
        "twitch":       $twitch,
        "paypal":       $paypal,
        "behance":      $behance,
        "reddit" :      $reddit,
        "github":       $github
), $brand-colors);

// Options
//
// Modifying Bootstrap global options

$enable-shadows:          false !default;
$enable-negative-margins: true !default;
$enable-smooth-scroll:    false !default;


// Spacing

$spacer: 1rem !default;
$grid-gutter-width: 1.5rem !default;

// Modifying default Bootstrap's $spacers map
$spacers: (
        0: 0,
        1: $spacer * .25,
        2: $spacer * .5,
        3: $spacer,
        4: $spacer * 1.5,
        5: $spacer * 3,
        10: ($spacer * 10),
        'grid-gutter': $grid-gutter-width
) !default;


// Body
$body-color:            $gray-600 !default;


// Lists

$list-style-color:      $accent !default;


// Links

$link-color:              $primary !default;
$link-decoration:         none !default;
$link-hover-color:        darken($link-color, 10%) !default;
$link-hover-decoration:   none !default;
$link-transition:         color .25s ease-in-out !default;
$link-shade-percentage:   0% !default;

//transition
$transition-base:          all .3s ease-in-out !default;


// Components
//
// Define common padding and border radius sizes and more.

$border-width:                1px !default;
$border-color:                rgba($dark, .07) !default;
$border-light-color:          rgba($white, .12) !default;

// Border colors map
$border-colors: (
        'primary':    rgba($primary, .35),
        'accent':     rgba($accent, .35),
        "success":    rgba($success, .35),
        "info":       rgba($info, .35),
        "warning":    rgba($warning, .35),
        "danger":     rgba($danger, .35),
        "light":      $border-light-color,
        "dark":       rgba($dark, .35)
) !default;

$border-radius:               .3125rem !default;
$border-radius-lg:            .4375rem !default;
$border-radius-sm:            .25rem !default;

$box-shadow:                  0 .25rem 0.5625rem -.0625rem rgba($black, .03), 0 .275rem 1.25rem -.0625rem rgba($black, .05) !default;
$box-shadow-lg:               0 .3rem 1.525rem -.375rem rgba($black, .1) !default;
$box-shadow-sm:               0 .125rem 0.3rem -.0625rem rgba($black, .03), 0 .275rem .75rem -.0625rem rgba($black, .06) !default;
$box-shadow-inset:            inset 0 1px 2px transparent !default;


$caret-width:                 .275rem !default;

$component-active-bg:         $primary !default;


$headings-color:              $gray-800 !default;

$font-size-base:              1rem !default;
$font-size-xl:                ($font-size-base * 1.625) !default;
$font-size-lg:                ($font-size-base * 1.125) !default;
$font-size-md:                ($font-size-base * .9375) !default;
$font-size-sm:                ($font-size-base * .875) !default;
$font-size-ms:                ($font-size-base * .8125) !default;
$font-size-xs:                ($font-size-base * .75) !default;

$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base * 1.0625 !default;

// Modifying default Bootstrap's $font-sizes map
$font-sizes: (
        1: $h1-font-size,
        2: $h2-font-size,
        3: $h3-font-size,
        4: $h4-font-size,
        5: $h5-font-size,
        6: $h6-font-size,
        'xl':   $font-size-xl,
        'lg':   $font-size-lg,
        'base': $font-size-base,
        'md':   $font-size-md,
        'sm':   $font-size-sm,
        'ms':   $font-size-ms,
        'xs':   $font-size-xs
) !default;

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');
$font-family-sans-serif:   'Plus Jakarta Sans', sans-serif;

// stylelint-enable value-keyword-case
// $font-family-base:            var(--#{$prefix}font-sans-serif) !default;
// $font-family-code:            var(--#{$prefix}font-monospace) !default;

//lead
$lead-font-weight:            600 !default;

$font-weight-normal:          400 !default;
$font-weight-medium:          500 !default;
$font-weight-semibold:        600 !default;
$font-weight-bold:            700 !default;

$headings-font-family:        $font-family-sans-serif !default;
$headings-margin-bottom:      ($spacer * .625) !default;
$headings-font-weight:        $font-weight-bold !default;

$line-height-base:            1.75 !default;
$line-height-lg:              1.5 !default;
$line-height-sm:              1.5 !default;

$display-font-sizes: (
        1: 5rem,
        2: 4.5rem,
        3: 4rem,
        4: 3.5rem,
        5: 3rem,
        6: 2.5rem,
        404: 10rem
) !default;

$display-font-weight:         700 !default;

$small-font-size:             .8em !default;


$hr-margin-y:                 0 !default;
$hr-color:                    $border-color !default;
$hr-opacity:                  1 !default;

$text-shadow:                 0 .0625rem rgba($black, .5) !default;
$text-muted:                  $gray-500 !default;


$blockquote-font-size:        $font-size-base !default;
$blockquote-footer-font-size: $font-size-sm !default;


// Buttons + Forms

$input-btn-padding-y:               .625rem !default;
$input-btn-padding-x:               1rem !default;
$input-btn-padding-y-sm:            .425rem !default;
$input-btn-padding-x-sm:            .75rem !default;
$input-btn-padding-y-lg:            .75rem !default;
$input-btn-padding-x-lg:            1.25rem !default;
$input-btn-focus-width:             0 !default;

$input-btn-font-size:               ($font-size-base * .9375) !default;
$input-btn-font-size-sm:            ($font-size-base * .8125) !default;
$input-btn-font-size-lg:            ($font-size-base * 1.0625) !default;


$input-border-color:                $border-color !default;
$input-focus-border-color:          $primary !default;
$input-border-radius:               0.375rem !default;
$input-padding-y:                   0.65rem !default;
$form-select-padding-y:             $input-padding-y !default;

// Buttons
$btn-font-family:                   $font-family-sans-serif !default;
$btn-padding-x:                     2rem !default;
$btn-padding-y:                     0.85rem !default;
$btn-padding-x-sm:                  1rem !default;
$btn-padding-x-lg:                  1.5rem !default;
$btn-white-space:                   nowrap !default;
$btn-border-radius:                 .275rem !default;

$btn-dark-color:                    $white !default;
$btn-light-color:                   $gray-700 !default;
$btn-font-weight:                   500 !default;
$btn-box-shadow:                    unset !default;

$btn-icon-size:                     2.75rem !default;
$btn-icon-sm-size:                  2.25rem !default;
$btn-icon-lg-size:                  3.25rem !default;
$btn-icon-xl-size:                  4.55rem !default;

$btn-transition:                    color .25s ease-in-out, background-color .25s ease-in-out, border-color .25s ease-in-out, box-shadow .2s ease-in-out !default;

$btn-focus-box-shadow:              unset !default;
$btn-active-box-shadow:             unset !default;

$btn-pill-border-radius:            ($font-size-base * $line-height-base + $input-btn-padding-y * 2 + .125) !default;
$btn-pill-border-radius-sm:         ($font-size-sm * $line-height-sm + $input-btn-padding-y-sm * 2 + .125) !default;
$btn-pill-border-radius-lg:         ($font-size-lg * $line-height-lg + $input-btn-padding-y-lg * 2 + .125) !default;

// Social buttons
$btn-social-border-width:             $border-width !default;
$btn-social-transition:               border-color .25s ease-in-out, background-color .25s ease-in-out, color .25s ease-in-out, box-shadow .25s ease-in-out !default;

$btn-social-size:                     2.25rem !default;
$btn-social-size-sm:                  1.75rem !default;
$btn-social-size-lg:                  2.75rem !default;

$btn-social-font-size:                $font-size-sm !default;
$btn-social-font-size-sm:             $font-size-xs !default;
$btn-social-font-size-lg:             $font-size-base !default;

$btn-social-border-radius:            $border-radius !default;
$btn-social-border-radius-sm:         $border-radius-sm !default;
$btn-social-border-radius-lg:         $border-radius !default;

$btn-social-dark-color:               $gray-700 !default;
$btn-social-dark-hover-color:         $white !default;
$btn-social-dark-border-color:        $border-color !default;
$btn-social-dark-bg:                  $gray-200 !default;

$btn-social-light-color:              $white !default;
$btn-social-light-border-color:       $border-light-color !default;
$btn-social-light-bg:                 rgba($white, .08) !default;
$btn-social-light-hover-bg:           $white !default;
$form-select-indicator-color:         $gray-400 !default;
