/********** inventory details ************/ 
.iv-meta {
    span {
        font-size: 12px;
        font-weight: 500;
        + span {
            margin-left: 32px;
            position: relative;
            &::before {
                content: ''; 
                position: absolute; 
                left: -16px; 
                top: 50%; 
                transform: translateY(-50%); 
                width: 1px; 
                height: 13px; 
                background: rgba($para-text-2, 0.6);
            }
        }
        i {
            margin-right: 4px;
        }
    }
}
.iv_info_item {
    gap: 12px;
    .icon-wrapper {
        width: 48px; 
        height: 48px;
        color: $primary;
        font-size: 24px;
    }
    .meta {
        font-size: 12px;
        font-weight: 600;
        display: block;
    }
    .title {
        font-weight: 600; 
        color: $secondary;
        display: block;
    }
}
.expanded-content {
    display: none;
}
.iv-expand-btn {
    font-weight: 600;
    transition: $transition;
    &:hover {
        color: $secondary;
    }
}
.iv_ft_list {
    li {
        font-size: 14px;
        font-weight: 500; 
        color: $para-text-2;
        margin-top: 10px;
        span {
            width: 14px; 
            height: 14px; 
            background: $primary;
            display: inline-flex; 
            align-items: center; 
            justify-content: center; 
            font-size: 8px;
            color: $white;
            transform: translateY(-2px);
        }
    }
}

.iv_feature_accordion {
    .accordion-item {
        border: 1px solid $border-color;
        border-radius: 4px;
        overflow: hidden;
    }
    .accordion-header {
        a {
            font-size: 18px; 
            font-weight: 700;
            color: $secondary;
            padding: 15px 30px;
            background: transparent;
            position: relative;
            &::after {
                content: '\f107'; 
                font-family: 'FontAwesome';
                background: none;
                position: absolute; 
                right: 30px; 
                top: 50%; 
                transform: translateY(-50%);
                width: auto; 
                height: auto;
            }
            &:not(.collapsed) {
                background: $secondary;
                color: $white;
                &::after {
                    content: '\f106';
                    color: $white; 
                }
            }
        }
    }
}

/************** inventory sidebar ************/
.iv_sidebar_widget {
    form {
        label {
            font-size: 14px; 
            font-weight: 600;
            color: $secondary;
        }
        input, textarea {
            display: block; 
            width: 100%; 
            border: 1px solid $border-color;
            border-radius: 4px;
            padding: 8px 12px;
            background: rgba($bg-color, 0.1);
        }
        .input-box {
            span {
                width: 38px;
                height: 44px; 
                border: 1px solid $border-color; 
                border-right: 0;
                text-align: center;
                line-height: 42px;
                border-radius: 4px 0 0 4px;
                font-weight: 600;
            }
            input {
                border-radius: 0 4px 4px 0;
            }
        }
    }
}
.iv_pricing_widget {
    .widget_meta {
        span {
            font-size: 12px;
            position: relative;
            font-weight: 500;
            + span {
                margin-left: 32px;
                &::before {
                    content: ''; 
                    position: absolute; 
                    left: -16px; 
                    top: 50%; 
                    transform: translateY(-50%); 
                    width: 1px; 
                    height: 13px; 
                    background: rgba($white, 0.6);
                }
            }
            i {
                margin-right: 6px;
            }
        }
    }
}
.iv_seller_widget {
    .iv_seller_info {
        .rating {
            span {
                font-size: 12px;
                font-weight: 500;
                color: $para-text-2;
                i {
                    color: $star-color;
                }
            }
        }
        & > a {
            font-weight: 600; 
            color: $para-text-2; 
            font-size: 14px;
            text-decoration: underline;
        }
    }
    .widget_btns {
        display: flex; 
        gap: 24px;
        flex-wrap: wrap;
        a {
            padding: 13px 25px; 
            font-size: 14px;
            color: $primary; 
            background: rgba($primary, 0.05);
            border-radius: 4px;
            font-weight: 600;
            transition: $transition; 
            &:hover {
                color: $white; 
                background: rgba($primary, 0.8);
            }
        }
        @include portrait-phone {
            gap: 16px;
            a {
                padding: 10px 20px;
            }
        }
    }
}

/************ inventory slider *************/ 
.inventory-slider {
    .swiper-btn {
        position: absolute;
        right: 0; 
        top: -80px;
        z-index: 10;
        width: 40px; 
        height: 40px; 
        border-radius: 50%;
        color: $white;
        text-align: center; 
        line-height: 40px;
        transition: $transition;
        &.slider-btn-prev {
            background: $secondary;
            right: 50px;
            &:hover {
                background: $primary;
            }
        }
        &.slider-btn-next {
            background: $primary;
            &:hover {
                background: $secondary;
            }
        }
        @include portrait-phone {
            display: none;
        }
    }
    .filter-card-item {
        &:hover {
            box-shadow: none;
        }
    }
}


/************** inventory listing sidebar ****************/
.iv2_sidebar {
    padding: 30px 16px;
    
}
.iv2_sidebar_widget {
    position: relative;
    + .iv2_sidebar_widget {
        margin-top: 24px;
        position: relative;
        &::before {
            content: ''; 
            position: absolute; 
            left: 0; 
            top: -12px; 
            width: 100%; 
            height: 1px;
            background: $border-color;
        }   
    }
}

.iv2_search_widget {
    input {
        padding: 10px 16px;
        font-size: 14px;
    }
    button {
        width: 46px; 
        height: 46.5px;
    }
}
.iv2_sidebar_accordion {
    .accordion-button {
        &:not(.collapsed) {
            box-shadow: none;
        }
        &::after {
            content: '\f107';
            font-family: 'FontAwesome';
            background: none;
            width: auto; 
            height: auto;
        }
    }
}
.iv2_sidebar_list {
    &.at_scrollbar {
        height: 250px;
    }
    li {
        + li {
            margin-top: 10px;
        }
        label {
            font-size: 14px;
            display: flex; 
            align-items: center;
            font-weight: 500;
            color: $para-text-2;
        }
        input[type="checkbox"] {
            opacity: 0;
            &:checked {
                ~ {
                    .ct-checkbox {
                        background: $primary; 
                        border-color: $primary;
                        color: $white;
                    }
                }
            }
        }
        .ct-checkbox {
            width: 14px; 
            height: 14px;
            border: 1px solid rgba($border-color, 0.5);
            display: inline-flex; 
            align-items: center;
            justify-content: center;
            border-radius: 2px;
            font-size: 8px;
            margin-left: -13px;
            color: transparent;
        }
    }
}
.iv2_rangeslider_widget {
    .ui-slider-handle {
        width: 16px; 
        height: 16px;
        background: $white;
        border: 3px solid $primary;
        border-radius: 50%;
        top: -7px;
        outline: 0;
    }
    .ui-widget-content {
        background: $placeholder-color;
        height: 3px;
        border: 0;
        margin-left: 10px;
    }
    .ui-slider-range {
        background: $primary;
    }
    input {
        border: 1px solid $border-color;
        padding: 6px 24px;
        border-radius: 4px;
        text-align: center;
        width: 50%;
    }
}


/************ inventory listing ************/ 
.iv_listing_top {
    padding: 16px 18px;
    gap: 24px;
}
.iv_listing_filter_menu {
    gap: 16px;
    .form-select {
        padding: 10px 12px;
        padding-right: 24px;
        flex-shrink: 0;
        width: 220px;
    }
    .grid_btn {
        width: 48px; 
        height: 48px; 
        display: inline-flex; 
        align-items: center; 
        justify-content: center;
        border: 1px solid $border-color;
        flex-shrink: 0;
        border-radius: 3px;
        color: $para-text-2; 
        transition: $transition; 
        &:hover {
            color: $primary;
        }
        &.active {
            color: $primary;
        }
    }
    @include portrait-phone {
        .form-select {
            width: 150px;
        }
    }
}

.listing_card_item {
    .thumb-wrapper {
        max-width: 260px;
        img {
            transition: $transition;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    .small-btn-meta {
        position: absolute;
        right: 24px;
        top: 24px;
    }
    h5 {
        transition: $transition; 
        &:hover {
            color: $primary;
        }
    }
    .card-feature-box {
        gap: 10px;
        .icon-box {
            padding: 2px 15px;
            border-radius: 3px;
        }
    }
    @include medium-screen {
        .thumb-wrapper {
            max-width: 100%;
        }
    }
}