/************ product details tab ************/ 
.product-details-tab-content {
    & > ul {
        gap: 24px;
        background: $white;
        li {
            a {
                padding: 14px 35px;
                font-size: 14px;
                font-weight: 600;
                background-color: $white;
                border-radius: 3px;
                color: $secondary;
                transition: $transition; 
                display: inline-block;
                border: 1px solid $border-color;
                &.active {
                    background-color: $primary; 
                    color: $white; 
                    box-shadow: $primary-light-shadow;
                    border-color: $primary;
                }
            }
        }
    }
}
.description-tab-box {
    .bg-color {
        background: $bg-color;
    }
    table {
        width: 100%;
        tr {
            border-bottom: 1px solid $border-color;
            td {
                padding: 8px 0;
                font-size: 14px; 
                font-weight: 500;
            }
        }
    }
}
.review-tab-box {
    .rating-field {
        li { 
            font-size: 14px;
            font-weight: 500;
            i {
                color: $star-color;
            }
        }
    }
}
.users_review {
    .top-left {
        span {
            font-size: 14px; 
            font-weight: 500;
        }
    }
}

/***************** product details sidebar ****************/ 
.pd-widget-title {
    position: relative; 
    &::before {
        content: ''; 
        position: absolute; 
        left: -20px; 
        bottom: 0; 
        width: calc(100% + 40px);
        height: 1px; 
        background-color: $border-color;
    }
}

/*************** related products slider **************/ 
.rl-products-slider {
    .flash-controls {
        left: auto; 
        right: 0;
        top: -60px;
        &.slider-button-prev {
            right: 60px;
            background: $secondary;
            &:hover {
                background: $primary;
            }
        }
        @include small-screen {
            display: none;
        }
    }
}