.el_menu_list {
    & > ul {
        & > li {
            & > a {
                color: $el-black-color;
                font-weight: 500;
            }
            &.has-submenu {
                &::after {
                    color: $el-black-color;
                }
            }
            &:hover {
                & > a {
                    color: $el-primary-color;
                }
                &::after {
                    color: $el-primary-color;
                }
            }
        }
    }
}
.el_listing_btn {
    padding: 14px 16px;
    background-color: $el-primary-color;
    color: $white;
    font-weight: 500;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in;
    span {
        width: 17px;
        height: 17px;
        background-color: $white;
        border-radius: 50%;
        color: $el-primary-color;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
        transition: $transition;
        transform: translateY(-3px);
    }
    &:hover {
        background-color: $el-black-color;
        color: $white;
        span {
            background-color: $el-primary-color;
            color: $white;
        }
    }
}
.el_header_toggle {
    .cart_total_item {
        background-color: $el-primary-color;
    }
}
.el-menu-toggle {
    span {
        background-color: $el-black-color;
    }
}

.el-hero-section {
    padding: 160px 0;
    .leaf {
        bottom: 100px;
    }
}
.el-header-socials {
    left: -155px;
    bottom: 50%;
    transform: translateY(50%) rotate(-90deg);
    span {
        color: $bg-icon;
        &::before {
            display: none;
        }
        svg {
            transform: rotate(90deg);
            margin-right: 24px;
        }
    }
    .social-list {
        li {
            margin-right: 0;
            a {
                border: 2px solid $el-border-color;
                color: $el-black-color;
                border-radius: 50%;
                width: 40px; 
                height: 40px; 
                display: inline-flex; 
                align-items: center;
                justify-content: center;
                transition: $transition; 
                &:hover {
                    color: $el-primary-color;
                }
            }
        }
    }
}

.el-section-title {
    .title-desc {
        &::before {
            content: ''; 
            position: absolute;
            left: -12px;
            top: 50%; 
            transform: translateY(-50%);
            width: 1px; 
            height: 100px;
            background-color: $el-border-color;
        }
    }
    @include small-screen {
        .title-left {
            width: 100%;
        }
        .title-desc {
            width: 100%;
            &::before {
                display: none;
            }
        }
    }
}

/**************** about section start ****************/ 
.el-about-section {
    .el-blur {
        top: 0;
        transform: translateY(-50%);
    }
    @include large-screen {
        overflow: hidden;
    }
}
.el-about-box {
    background-color: $white; 
    padding: 48px 24px;
    border-radius: 10px;
    transition: $transition;
    .icon-wrapper {
        svg {
            path {
                transition: $transition;
            }
        }
    }
    h5, p {
        transition: $transition;
    }
    .el-explore {
        color: $el-primary-color;
        font-weight: 700;
        font-size: 14px;
        transition: $transition;
        svg {
            path {
                transition: $transition;
            }
        }
    }
    &:hover {
        background-color: $el-black-color;
        .icon-wrapper {
            svg {
                path {
                    fill: $white;
                }
            }
        }
        h5, p {
            color: $white;
        }
        .el-explore {
            color: $white; 
            svg {
                path {
                    fill: $white;
                    stroke: $white;
                }
            }
        }
    }
    &.active {
        background-color: $el-black-color;
        .icon-wrapper {
            svg {
                path {
                    fill: $white;
                }
            }
        }
        h5, p {
            color: $white;
        }
        .el-explore {
            color: $white; 
            svg {
                path {
                    fill: $white;
                    stroke: $white;
                }
            }
        }
    }
}

/***************** dealership section start **************/ 
.el-dealership-section {
    margin-bottom: -60px;
    .el-dealership-content {
        padding-bottom: 180px;
    }
    @include large-screen {
        margin-bottom: 0; 
        overflow: hidden;
        .el-dealership-content {
            padding-bottom: 40px;
        }
    }
}
.el-author-info {
    gap: 60px;
    .author-info-content {
        position: relative;
        &::before {
            content: ''; 
            position: absolute;
            left: -24px;
            top: 50%;
            transform: translateY(-50%);
            width: 1px;
            height: 40px;
            background-color: $el-border-color;
        }
        span {
            font-size: 15px;
        }
    }
    @include portrait-phone {
        gap: 16px;
        .author-info-content {
            &::before {
                display: none;
            }
        }
    }
}
.el-achivements-box {
    padding: 40px 24px;
    background-color: $white;
    clip-path: polygon(82% 0, 100% 15%, 100% 100%, 0 100%, 0 0);
    .el-title-sm {
        &::after {
            content: ''; 
            position: absolute;
            left: calc(100% + 10px);
            width: 78px;
            height: 1px;
            background-color: $el-border-color;
            bottom: 1px;
        }
    }
    .el-achivement-single {
        + .el-achivement-single {
            margin-top: 22px;
        }
    }
}
.el-achivement-single {
    .icon-wrapper {
        width: 64px;
        height: 64px;
        background-color: rgba($el-primary-color, 0.1); 
    }
    .el-achivement-content {
        h3 {
            font-size: 32px;
        }
        & > span {
            font-weight: 500;
            font-size: 15px;
        }
    }
}
.achivements-social-info {
    a {
        width: 40px; 
        height: 40px;
        background-color: $white;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $el-border-color;
        margin-right: 12px;
        color: $el-black-color;
        transition: $transition; 
        &:hover {
            color: $white; 
            background-color: $el-primary-color;
            border-color: $el-primary-color;
        }
    }
}

.el-spacer-bottom {
    height: 100px;
    background-color: #F4FFED;
}

/******************* service section start *******************/
.el-service-section {
    .bg-shape {
        width: 100%;
        height: 515px;
        background-repeat: no-repeat; 
        background-size: cover;
    }
    .els-circle-gradient {
        width: 118px;
        height: 118px;
        border-radius: 50%;
        background-image: linear-gradient(214.74deg, rgba(92, 173, 47, 0.3) -44.19%, rgba(92, 173, 47, 0) 89.94%);
        bottom: -50px; 
        right: -30px;
    }
} 
.el-service-slider-control {
    width: 56px;
    height: 56px; 
    border: 1px solid $el-primary-color;
    color: $el-primary-color;
    background-color: transparent;
    transition: $transition;
    border-radius: 4px;
    &:hover {
        background-color: $el-primary-color; 
        color: $white; 
    }
}
.el-service-box {
    transition: $transition;
    figure {
        img {
            transition: $transition;
        }
    }
    .el-service-box-content {
        padding: 32px 32px 40px;
        h4 {
            transition: $transition; 
            &:hover {
                color: $el-primary-color;
            }
        }
        .el-explore {
            color: $el-black-color;
            transition: $transition; 
            svg {
                path {
                    transition: $transition;
                }
            }
            &:hover {
                color: $el-primary-color;
                svg {
                    path {
                        fill: $el-primary-color;
                        stroke: $el-primary-color;
                    }
                }
            }
        }
    }
    &:hover {
        box-shadow: $el-hover-shadow;
    }
}

/******************* car listing section *************/ 
.el-car-listing {
    padding-bottom: 255px;
    .elc-circle-gradient {
        border-radius: 50%;
        background-color: rgba(#89FFE3, 0.15);
        filter: blur(200px);
        &.gradient-1 {
            width: 300px;
            height: 300px;
            left: 100px;
            top: 100px;
            filter: blur(150px);
        }
        &.gradient-2 {
            width: 600px; 
            height: 600px;
            right: -40px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    @include screen-1400 {
        padding-bottom: 120px;
    }
}
.el-car-listing-slider {
    .leaf-shape {
        top: -110px;
    }
    .doted-box {
        right: 55px;
        top: -60px;
    }
}
.elc-slider-single {
    .elc-slider-img {
        padding: 100px 40px;
    }
    .elc-slider-single-box {
        padding: 40px 32px;
        max-width: 536px;
        margin-top: -127px;
        .likes {
            font-size: 12px;
            color: $el-black-color;
            font-weight: 500;
            background-color: rgba($primary, 0.05);
            padding: 2px 6px;
            border-radius: 30px;
            position: absolute;
            right: 16px;
            top: 16px;
            i {
                color: $primary;
                margin-right: 3px;
            }
        }
        h3 {
            font-size: 32px;
        }
        .btn {
            padding: 10px 24px;
        }
    }
    @include small-screen {
        .elc-slider-single-box {
            margin-top: -90px;
            h3 {
                font-size: 26px;
            }
        }
    }
}

.el-car-listing-slider-thumb {
    max-width: 630px;
    position: absolute;
    bottom: 0;
    right: 109px;
    .listing-thumb-single {
        padding: 26px 8px;
        transition: $transition; 
        border: 1px solid $white;
        border-radius: 4px;
        &.swiper-slide-thumb-active {
            border-color: $el-primary-color;
        }
    }
    @include screen-1400 {
        position: relative;
        right: auto;
        margin-top: 40px;
    }
}

/***************** feature section start *****************/ 
.el-feature-section {
    background-color: $el-primary-light;
    .feature-img {
        img {
            position: absolute;
            bottom: 0; 
            left: 0;
        }
    }
    @include screen-1400 {
        .feature-img {
            img {
                position: relative;
            }
        }
    }
}
ul.el-features-list {
    gap: 22px;
    li {
        margin-bottom: 10px;
        p {
            color: $md-text-color;
        }
    }
}
.el-feature-explore {
    color: $el-primary-color;
    transition: $transition; 
    svg {
        path {
            transition: $transition;
        }
    }
    &:hover {
        color: $el-black-color;
        svg {
            path {
                fill: $el-black-color;
            }
        }
    }
}

.el-single-brand {
    img {
        transition: $transition; 
        filter: grayscale(1);
        opacity: 0.6;
        &:hover {
            filter: grayscale(0);
            opacity: 1;
        }
    }
}

/***************** feedback section start ****************/ 
.el-feedback-wrapper {
    background-repeat: no-repeat;
    background-position: center;
    .el-dots {
        top: 140px; 
        left: 50%; 
        transform: translateX(-50%);
        max-width: 100%;
    }
}
.el-feedback-slider {
    position: absolute;
    max-width: 480px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    z-index: 1;
    .el-feedback-slide-contorls {
        margin-top: 30px;
        .swiper-pagination-bullet {
            width: 10px; 
            height: 10px;
            background-color: $el-black-color;
            opacity: 1;
            transition: $transition; 
            &.swiper-pagination-bullet-active {
                width: 30px;
                border-radius: 30px;
                background-color: $el-primary-color;
            }
        }
    }
    @include small-screen {
        position: relative;
        margin-top: 48px;
    }
}
.el-feedback-single {
    .el-feedback-box {
        padding: 40px 24px;
        border-radius: 6px;
        &::before {
            content: ''; 
            position: absolute;
            left: 50%;
            top: -24px;
            transform: translateX(-50%);
            width: 40px;
            height: 25px;
            background-color: $white;
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        }
        .rating {
            background-color: $el-orange;
            color: $white;
            padding: 2px 12px;
            border-radius: 0 4px 0 0;
            font-size: 12px;
            font-weight: 700;
        }
    }
}

.el-footer-top-widget {
    .icon-wrapper {
        background-color: $el-icon-bg;
    }
    .widget-outline-btn {
        border: 1px solid $el-primary-color;
        &:hover {
            background-color: $el-primary-color;
        } 
    }
    .phone-number {
        color: $el-primary-color;
    }
}
.el-subscribe-form {
    input {
        border-color: $el-primary-color;
    }
    .md-primary-btn {
        background-color: $el-primary-color;
        &:hover {
            background-color: $el-primary-color;
        }
    }
}

.footer-news-widget {
    .el-news-explore {
        color: $el-primary-color; 

    }
}
.el-footer-social-links {
    li {
        a {
            &:hover {
                color: $el-primary-color;
            }
        }
    }
}