.rent-hero {
    padding: 220px 0 220px 0;
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed;
    &::before {
        content: ''; 
        position: absolute; 
        left: 0; 
        top: 0; 
        width: 100%;
        height: 100%; 
        background: $black-light-gradient;
        z-index: -1;
    }
    @include small-screen {
        padding: 200px 0 100px 0;
    }
}
.rent-hero-content {
    p {
        color: $placeholder-color;
    }
    .apps-btn-group {
        @include portrait-phone {
            gap: 16px;
            .app-btn {
                padding: 10px 15px;
            }
        }
    }
}

/*********** steps area start ********/ 
.steps-area {
    .steps-left {
        padding-right: 40px;
    }
    @include screen-1400 {
        .steps-left {
            padding-right: 0;
        }
    }
}
.steps-box {
    padding: 30px 24px;
    max-width: 100%;
    overflow: hidden;
    z-index: 1;
    .icon-wrapper {
        width: 60px; 
        height: 60px;
        font-size: 30px;
    }
    .icon-bg {
        right: 10px;
        bottom: 0;
        font-size: 100px;
        color: $bg-icon;
        z-index: -1;
        opacity: 0.05;
        line-height: 0;
    }
}
.pickup-form-wrapper {
    .nav {
        border-radius: 4px 0 0 0;
        overflow: hidden;
        li {
            a {
                padding: 14px 30px;
                display: inline-block;
                background: $secondary;
                color: $white; 
                font-weight: 700;
                font-size: 15px;
                position: relative;
                z-index: 10;
                &.active {
                    background: $primary;
                }
            }
        }
    }
    .tire-shape {
        left: -30px; 
        bottom: -30px;
    }
    .dot-shape {
        right: -60px;
        top: -15px;
    }
}

.pickup-form {
    padding: 50px 30px;
    select {
        color: $black-color;
        font-weight: 600;
    }
    .checkbox-field {
        font-size: 13px;
        label {
            font-weight: 500;
            transform: translateY(-1px);
            color: $placeholder-color;
        }
    }
    input {
        color: $body-color;
        &::placeholder {
            color: $body-color;
            opacity: 1;
        }
    }
    .btn {
        span {
            transform: rotate(-45deg);
            display: inline-block;
        }
    }
}

/************* offer section start **********/ 
.offer-section {
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;   
    &::before {
        content: ''; 
        position: absolute; 
        left: 0; 
        top: 0; 
        width: 100%; 
        height: 100%; 
        background: $black-gradient;
        z-index: -1;
    }
    .offer-double-circle {
        right: 100px; 
        top: 80px;
    }
    .offer-left {
        padding-bottom: 60px;
    }
}
.title-style-2 {
    .subtitle {
        mark {
            position: relative;
            &::after {
                content: '';
                position: absolute; 
                width: 100px; 
                height: 30px; 
                background: url(../img/shapes/title-shape.png);
                background-size: 60px; 
                background-repeat: no-repeat;
                left: 0;
                bottom: -35px;
            }
        }
    }
    p {
        color: $placeholder-color;
    }
}
.offer-right {
    .small-circle-shape {
        width: 22px; 
        height: 22px; 
        background: $small-circle-shape-gradient;
        top: 0; 
        left: 47%;
        border-radius: 50%;
    }
}

/************** car slider start **********/ 
.car-double-slider {
    .plus-rectangle {
        right: -30px; 
        top: -30px;
        z-index: 1;
    }
}
.car-thumb-slider-wrapper {
    max-width: 576px;
    overflow: hidden;
    padding: 0 18px;
    margin-left: -18px;
    position: absolute;
    left: 0; 
    top: 0;
    z-index: 10;
    .car-thumb-slider {
        overflow: visible;
        .car-thumb-single {
            padding: 24px; 
            background: $white;
            border: 2px solid transparent;
            border-radius: 4px;
            &.swiper-slide-thumb-active {
                border-color: $primary;
            }
        }
        .slider-btn {
            width: 35px; 
            height: 35px;
            background: $gray-600; 
            color: $white;
            border-radius: 50%; 
            text-align: center;
            line-height: 35px;
            transition: $transition; 
            position: absolute;
            left: -18px; 
            top: 50%; 
            transform: translateY(-50%);
            z-index: 2;
            &:hover {
                background: $black-color;
            }
            
            &.slider-button-next {
                left: auto; 
                right: -18px;
            }
        }
    }
    @include screen-1400 { 
        max-width: 400px;
        .car-thumb-slider {
            .car-thumb-single {
                padding: 15px;
            }
        }
    }
    @include large-screen {
        position: relative;
        top: 0;
        margin-left: auto; 
        margin-right: auto;
        max-width: 600px;
        margin-bottom: 40px;
    }
}
.car-slider-single {
    .car-slider-item-right {
        max-width: 648px;
        padding: 40px 32px; 
        position: absolute;
        left: 0; 
        bottom: 30px;
        z-index: 1;
        .btn-meta {
            position: absolute;
            right: 15px; 
            top: 15px;
        }
        .pricing-info {
            .info-right {
                position: relative; 
                &::before {
                    content: ''; 
                    position: absolute; 
                    left: -12px; 
                    top: 50%; 
                    transform: translateY(-50%); 
                    width: 2px; 
                    height: 24px;
                    background: $placeholder-color;
                    opacity: 0.3;
                }
            }
            span {
                font-size: 14px;
                .h4 {
                    font-size: 24px;
                }
            }
        }
    }
    .car-slider-item-left {
        max-width: 720px;
        float: right;
    }
    @include medium-screen {
        .car-slider-item-right {
            position: relative;
        }
        .car-slider-item-left {
            float: none;
        }
    }
}

/*********** tutorial section start **************/ 
.tutorial-section {
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed;
    &::before {
        content: ''; 
        position: absolute;
        left: 0; 
        top: 0; 
        width: 100%; 
        height: 100%; 
        background: $black-color;
        opacity: 0.75;
        z-index: -1;
    }
    .video-popup-btn {
        position: absolute;
        width: 50px; 
        height: 50px;
        left: 42%;
        bottom: 200px;
    }
    @include large-screen {
        .video-popup-btn {
            left: auto; 
            right: 100px;
            bottom: auto; 
            top: 60px;
        }
    }
    @include portrait-phone {
        .video-popup-btn {
            position: initial;
            margin-left: 10px;
            margin-bottom: 20px;
        }
    }
}
.tutorial-left {
    a {
        color: $white; 
        transition: $transition; 
        &:hover {
            color: $primary;
        }
    }
}

.h2-countdown-box {
    padding: 55px 30px;
    background-size: cover; 
    background-repeat: no-repeat;
    .icon-wrapper {
        width: 70px; 
        height: 70px;
        background: $icon-bg-light-primary;
        font-size: 30px;
    }
    h3 {
        font-weight: 800;
    }
    @include screen-1400 {
        padding: 40px 16px;
        .countdown-box-right {
            & > span {
                font-size: 15px;
            }
        } 
    }
}

/************ car booking section *********/ 
.car-search-filter {
    .input-field {
        width: 25%;
        label {
            margin-bottom: 8px;
        }
        &.has-icon {
            position: relative;
            &::before {
                content: '\f002'; 
                font-family: 'FontAwesome';
                position: absolute;
                bottom: 12px;
                left: 15px;
                font-size: 14px;
                color: $body-color;
            }
        }
        input {
            padding: 12px 16px;
            font-size: 14px;
            &::placeholder {
                color: $body-color;
            }
            &.has-icon {
                padding-left: 35px;
            }
        }
        + .input-field {
            margin-left: 16px;
        }
        select {
            font-weight: 600;
            color: $secondary;
            font-size: 14px;
        }
    }
    @include medium-screen {
        flex-wrap: wrap;
        gap: 16px;
        .input-field {
            width: calc(50% - 8px);
            + .input-field {
                margin-left: 0;
            }
        }
    } 
    @include screen-480 {
        .input-field {
            width: 100%;
        }
    }
}

.star-rating {
    padding: 3px 19px;
    background: $rating-box-bg;
    font-size: 12px; 
    font-weight: 700;
    span {
        color: $star-color;
        font-size: 15px;
    }
}
.car-card {
    .feature-img {
        border-radius: 4px 4px 4px 0;
        img {
            transition: $transition;
        }
    }
    .card-content {
        padding: 30px 24px;
        max-width: 390px;
        border-radius: 0 4px 4px 0;
        margin-top: -30px;
        transition: $transition;
        .star-rating {
            top: -15px; 
            right: 15px;
        }
        h5 {
            transition: $transition;
            &:hover {
                color: $primary;
            }
        }
        .pricing-info {
            span {
                font-weight: 500;
                color: $secondary;
                font-size: 12px;
                strong {
                    font-size: 16px;
                }
            }
        }
        .car-info {
            li {
                font-size: 14px;
                font-weight: 500;
            }
        }
        .card-btns {
            a:not(.btn-secondary) {
                transition: $transition; 
                &:hover {
                    background-color: $primary; 
                    color: $white; 
                    border-color: $primary;
                }
            }
        }
    }
    &:hover {
        .feature-img {
            img {
                transform: scale(1.03);
            }
        }
        .card-content {
            transform: translateY(-10px);
        }
    }
}

/************** contact section start *************/
.h2-contact-left {
    padding: 80px 0 80px 60px;
    &::before {
        content: ''; 
        position: absolute; 
        right: -205px; 
        top: -10px; 
        width: 210px; 
        height: calc(100% + 20px);
        background: $primary;
        clip-path: polygon(0 0, 0% 100%, 100% 100%);
        z-index: -1;
    }
    h3 {
        mark {
            display: inline-block;
            &::before {
                content: "";
                width: 130px;
                height: 50px;
                border: 3px solid $white;
                position: absolute;
                bottom: -48px;
                right: -20px;
                border-radius: 50%;
                opacity: 0.5;
                clip-path: circle(45.4% at 50% 0);

            }
        }
    }
    @include medium-screen {
        padding: 60px 40px;
    }
}
.h2-contact-right {
    padding-left: 70px;
    .icon-wrapper {
        width: 70px; 
        height: 70px;
        font-size: 32px;
    }
    h6 {
        mark {
            &::before {
                content: "";
                width: 80px;
                height: 50px;
                border: 3px solid $primary;
                position: absolute;
                bottom: -52px;
                right: -20px;
                border-radius: 50%;
                clip-path: circle(45.4% at 50% 0);
            }
        }
    }
    @include medium-screen {
        padding: 60px 40px;
    }
}

/************ feedback section start ************/
.h2-feedback-section {
    margin-top: -100px;
    padding-top: 220px;
    @include small-screen {
        padding-top: 170px;
    }
}
.h2-feedback-slider {
    padding-bottom: 80px;
    .swiper-pagination {
        .swiper-pagination-bullet {
            width: 17px; 
            height: 8px; 
            border-radius: 0; 
            background: $black-color;
            margin-right: 6px !important;
            border: 0;
            &::before {
                display: none;
            }
            &.swiper-pagination-bullet-active {
                background: $primary; 
                width: 40px;
            }
        }
    }
}
.h2-feedback-single {
    .h2-feedback-content {
        padding: 0 24px 32px;
        max-width: 546px;
        margin-left: 24px;
        margin-top: -60px;
        box-shadow: $box-shadow;
        .feedback-top {
            img  {
                margin-top: -45px;
            }    
        }
        .star-rating {
            margin-top: -35px;
            &.position-absolute {
                top: -15px; 
                right: 20px;
                margin-top: 0;
            }
        }
        .client-info {
            span {
                font-weight: 600; 
                font-size: 14px;
            }
        }
        .quote-icon {
            right: 20px; 
            bottom: 25px;
        }
    }
    @include portrait-phone {
        .h2-feedback-content {
            margin-left: 10px;
            padding: 24px 18px;
        }
    }
}


/*********** map section start ***********/ 
.map-area {
    width: 100%; 
    min-height: 480px;
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
}
.location-info {
    max-width: 450px;
    padding: 40px 30px;
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    .icon-wrapper {
        font-size: 24px;
    }
    p {
        font-weight: 500;
    }
    .opening {
        font-weight: 500;
    }
    .map-explore {
        color: $primary;
        transition: $transition; 
        &:hover {
            color: $secondary;
        }
    }
    @include portrait-phone {
        width: calc(100% - 24px);
        left: 50%; 
        transform: translate(-50%, -50%);
    }
}

/************** blog section start **************/ 
.h2-blog-card {
    padding: 30px 24px;
    transition: $transition;
    border-radius: 4px;
    .feature-img {
        width: 52%;
        border-radius: 0 4px 4px 0;
        img {
            transition: $transition;
        }
    }
    .btn-meta {
        &.position-absolute {
            left: 15px; 
            top: 15px;
        }
    }
    h4,h3 {
        transition: $transition; 
        &:hover {
            color: $primary;
        }
    }
    .author-content {
        span {
            font-size: 14px;
            font-weight: 500; 
        }
    }
    &:hover {
        box-shadow: $hover-shadow;
        .feature-img {
            img {
                transform: scale(1.02);
            }
        }
    }
    @include screen-1400 {
        .feature-img {
            width: 65%;
        }
    }
    @include large-screen {
        .feature-img {
            width: 100%;
            border-radius: 4px 4px 0 0;
        }
    }
    @include small-screen {
        .feature-img {
            img {
                width: 100%;
            }
        }
    }
    @include portrait-phone {
        padding: 18px 16px;
    }
}
.btn-meta {
    padding: 4px 12px; 
    font-size: 12px; 
    color: $body-color; 
    font-weight: 600;
    border-radius: 3px;
    background: $bg-color;
    display: inline-block;
}