.wishlist-table {
    table {
        tr {
            + tr {
                border-top: 1px solid $border-color;
            }
        }
        th, td {
            vertical-align: middle;
            white-space: nowrap;
            padding: 8px 32px;
            border: 0;
            font-weight: 500;
        }
        th {
            font-weight: 700;
        }
        td {
            padding: 16px 32px;
            h6 {
                font-size: 16px;
            }
        }
        .price-column {
            width: 300px;
        }
        .rating {
            li {
                font-size: 14px; 
                i {
                    color: $star-color;
                }
            }
        }
        .stock-btn {
            background: $bg-color; 
            padding: 8px 30px; 
            font-size: 14px; 
            font-weight: 600;
            display: inline-block;
        }
        .close-btn {
            width: 35px; 
            height: 35px; 
            background: $bg-color;
            display: inline-flex; 
            align-items: center;
            justify-content: center;
            border-radius: 3px;
            color: $para-text-2;
            transition: $transition;
            &:hover {
                color: $primary;
            }
        }
    }
}