@keyframes theme_fadeInUp {
	0% {
		transform: translateY(30px);
		opacity: 0;
	}
	50% {
		transform: translateY(30px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes ripple-animation {
	0% {
	  box-shadow: 0 0 0 0 $primary; 
	}
	50% {
	  box-shadow: 0 0 0 20px rgba(1, 93, 199, 0); 
	}
	100% {
	  box-shadow: 0 0 0 0 rgba(1, 93, 199, 0); 
	}
}

@keyframes ripple-animation2 {
	0% {
	  box-shadow: 0 0 0 0 $md-primary-color; 
	}
	50% {
	  box-shadow: 0 0 0 20px rgba(1, 93, 199, 0); 
	}
	100% {
	  box-shadow: 0 0 0 0 rgba(1, 93, 199, 0); 
	}
}

@keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}