.theme-accordion {
    .accordion-item {
        border-left: 0; 
        border-right: 0;
        background: transparent;
        &:last-child {
            border-bottom: 0;
        }
    }
    .accordion-header {
        .accordion-button {
            padding: 12px 24px;
            font-weight: 600;
            color: $secondary;
            background: transparent;
            border-radius: 0;
            &::after {
                content: '\f107';
                background: none;
                font-family: 'FontAwesome';
                border: 1px solid $secondary; 
                border-radius: 50%;
                text-align: center;
                line-height: 20px;
            }
            &:not(.collapsed) {
                background: $accordion-header-active;
                &::after {
                    transform: rotate(180deg);
                }
            }
        }
    }
    .accordion-collapse {
        transition: $transition;
        &.show {
            background: $bg-color;
        }
    }
}